<footer>
  <div class="ui container">
    <div class="ui equal width grid segment">
      <div class="column">
        <div class="ui list">
          <div class="item">{{ site.title }}</div>
          <div class="item"><a href="mailto:{{ site.email }}">{{ site.email }}</a></div>
        </div>
      </div>

      <div class="column">
        <div class="ui list">
          {% if site.github_username %}
          <div class="item">
            {% include icon-github.html username=site.github_username %}
          </div>
          {% endif %}

          {% if site.twitter_username %}
          <div class="item">
            {% include icon-twitter.html username=site.twitter_username %}
          </div>
          {% endif %}
        </div>
      </div>

      <div class="column">
        <p>{{ site.description }}</p>
      </div>
    </div>
  </div>
</footer>
